%div.row
  - @user.shoppingcart.each do |product|
    %div.col-md-4
      %div.panel.panel-primary
        %div.panel-heading
        %a{:href => product_path(product)}
          %img.img-responsive{:alt => "", :src => "#{product.image_url}", :style => "height:300px"}
        %div.panel-footer
          = product.name
          -product.categories.each do |cat|
            %span.label.label-info=cat.name
          = number_to_currency(product.price)

