- flash.each do |message_type, message|
  %div{:class => "alert alert-#{message_type}"}= message

%div.row
  - @products.each do |product|
    %div.col-md-4
      %div.panel.panel-primary
        %div.panel-heading
        %a{:href => product_path(product)}
          %img.img-responsive{:alt => "", :src => "#{product.image_url}", :style => "height:300px"}
        %div.panel-footer
          = product.name
          -product.categories.each do |cat|
            %span.label.label-info=cat.name
          %br
          %br
          = number_to_currency(product.price)
          %a{:href => carts_path(product)}
            %button.btn.btn-primary.btn-sm{:type => "button"} add to cart
